/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        leg {
            bindings = <&kp LG(SPACE)>;
            key-positions = <17 18>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
    };

    macros {
        pass_1: pass_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A &kp S &kp S &kp UNDER &kp N1>;
            label = "PASS_1";
        };

        pass_2: pass_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A &kp S &kp S &kp UNDER &kp N2>;
            label = "PASS_2";
        };

        pass_3: pass_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp A &kp S &kp S &kp UNDER &kp N3>;
            label = "PASS_3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R         &kp T           &kp Y          &kp U         &kp I       &kp O    &kp P     &kp LBKT
&kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F         &hrm G GRAVE    &kp H          &kp J         &kp K       &kp L    &kp SEMI  &kp RBKT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V         &kp B           &kp N          &kp M         &kp COMMA   &kp DOT  &kp FSLH  &kp APOS
                                &kp LEFT_WIN  &hml 1 SPACE  &kp LEFT_ALT    &kp BACKSPACE  &hml 2 ENTER  &kp DELETE
            >;
        };

        left {
            bindings = <
&trans  &kp ESC    &kp HOME   &kp UP        &kp END    &kp INSERT    &kp F7           &kp F8       &kp F9         &kp F10  &kp F11  &kp F12
&trans  &kp LC(A)  &kp LEFT   &kp DOWN      &kp RIGHT  &kp BSPC      &kp F1           &kp F2       &kp F3         &kp F4   &kp F5   &kp F6
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)     &kp LC(V)  &kp DELETE    &kp PRINTSCREEN  &kp PAGE_UP  &kp PAGE_DOWN  &pass_1  &pass_2  &pass_3
                              &kp LEFT_GUI  &trans     &kp LALT      &kp LALT         &none        &kp LGUI
            >;
        };

        right {
            bindings = <
&trans  &kp LESS_THAN  &kp LEFT_BRACKET      &kp COLON       &kp RIGHT_BRACKET      &kp GREATER_THAN    &kp ASTRK    &hrm AMPERSAND N7          &kp N8           &kp N9         &kp SLASH  &kp LG(L)
&trans  &kp BACKSLASH  &kp LEFT_PARENTHESIS  &kp SEMICOLON   &kp RIGHT_PARENTHESIS  &kp PIPE            &kp KP_PLUS  &hrm DOLLAR N4             &hrm PERCENT N5  &hrm CARET N6  &kp MINUS  &kp EQUAL
&trans  &kp GRAVE      &kp LEFT_BRACE        &kp UNDERSCORE  &kp RIGHT_BRACE        &kp TILDE           &kp N0       &hrm EXCLAMATION NUMBER_1  &hrm AT_SIGN N2  &hrm POUND N3  &kp COMMA  &kp DOT
                                             &kp SPACE       &trans                 &kp ENTER           &none        &trans                     &none
            >;
        };

        both {
            bindings = <
&trans  &none  &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &none    &kp K_MUTE  &kp K_PREVIOUS  &kp K_PLAY_PAUSE  &kp K_NEXT  &kp C_VOLUME_DOWN  &kp C_VOL_UP
&trans  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none    &none       &mkp LCLK       &mkp RCLK         &mkp MCLK   &kp LALT           &none
&trans  &none  &none           &none           &none            &none    &none       &none           &none             &none       &none              &none
                               &none           &trans           &none    &none       &trans          &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Both {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
